<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elecbullet/elecbullet-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{34,558},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>35 33 0 33 0 0 35 0</string>
                <key>verticesUV</key>
                <string>69 591 34 591 34 558 69 558</string>
            </dict>
            <key>elecbullet/elecbullet-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{29,671},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>35 33 0 33 0 0 35 0</string>
                <key>verticesUV</key>
                <string>64 704 29 704 29 671 64 671</string>
            </dict>
            <key>elecbullet/elecbullet-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{34,758},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>35 33 0 33 0 0 35 0</string>
                <key>verticesUV</key>
                <string>69 791 34 791 34 758 69 758</string>
            </dict>
            <key>electric/electric-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{2,735},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 4 5 9 0 1 8 9 1 8 1 2 8 2 3 7 8 3 7 3 4 11 7 4 11 5 6 10 11 6 0 9 10 6 0 10</string>
                <key>vertices</key>
                <string>102 28 96 82 62 100 3 91 3 26 23 3 77 3 18 56 56 86 85 55 83 24 34 15</string>
                <key>verticesUV</key>
                <string>101 760 95 814 61 832 2 823 2 758 22 735 76 735 17 788 55 818 84 787 82 756 33 747</string>
            </dict>
            <key>electric/electric-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{101,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{2,635},{101,96}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 5 6 9 1 2 10 0 1 9 10 1 8 9 2 8 2 3 8 3 4 7 8 4 7 4 5 11 7 5 0 10 11 0 11 6</string>
                <key>vertices</key>
                <string>102 30 91 80 54 99 4 92 1 15 33 3 75 3 24 32 21 75 59 83 81 63 64 17</string>
                <key>verticesUV</key>
                <string>103 662 92 712 55 731 5 724 2 647 34 635 76 635 25 664 22 707 60 715 82 695 65 649</string>
            </dict>
            <key>electric/electric-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{2,832},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 7 8 10 4 5 3 11 12 1 12 13 1 2 12 3 12 2 11 3 4 10 11 4 10 5 6 9 10 6 9 6 7 14 9 8 0 13 14 13 0 1 0 14 8</string>
                <key>vertices</key>
                <string>62 7 97 25 97 75 73 99 27 101 4 77 0 40 0 19 27 2 17 26 14 60 59 81 82 66 66 25 36 15</string>
                <key>verticesUV</key>
                <string>64 837 99 855 99 905 75 929 29 931 6 907 2 870 2 849 29 832 19 856 16 890 61 911 84 896 68 855 38 845</string>
            </dict>
            <key>electric/electric-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{2,532},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 6 7 9 3 4 11 1 2 12 0 1 10 11 2 10 2 3 9 10 3 9 4 5 8 9 5 8 5 6 13 8 6 12 13 7 12 1 11 7 0 12</string>
                <key>vertices</key>
                <string>102 21 94 68 63 99 27 99 3 75 3 27 25 5 67 0 26 23 19 70 42 87 70 75 83 28 58 13</string>
                <key>verticesUV</key>
                <string>101 553 93 600 62 631 26 631 2 607 2 559 24 537 66 532 25 555 18 602 41 619 69 607 82 560 57 545</string>
            </dict>
            <key>explode1/explode1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{104,943},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>51 51 6 52 0 35 0 0 51 0</string>
                <key>verticesUV</key>
                <string>155 994 110 995 104 978 104 943 155 943</string>
            </dict>
            <key>explode1/explode1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{96,1265},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>51 51 0 51 0 0 51 0</string>
                <key>verticesUV</key>
                <string>147 1316 96 1316 96 1265 147 1265</string>
            </dict>
            <key>explode1/explode1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{111,1112},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>51 51 0 51 0 0 51 0</string>
                <key>verticesUV</key>
                <string>162 1163 111 1163 111 1112 162 1112</string>
            </dict>
            <key>explode1/explode1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{104,1000},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 42 43 51 0 51 0 0 49 0</string>
                <key>verticesUV</key>
                <string>156 1042 147 1051 104 1051 104 1000 153 1000</string>
            </dict>
            <key>explode1/explode1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{102,1055},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>51 51 8 51 0 35 0 0 51 0</string>
                <key>verticesUV</key>
                <string>153 1106 110 1106 102 1090 102 1055 153 1055</string>
            </dict>
            <key>explode3/explode3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{10,1331},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>65 63 35 63 35 27 65 27</string>
                <key>verticesUV</key>
                <string>40 1367 10 1367 10 1331 40 1331</string>
            </dict>
            <key>explode3/explode3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4.5}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{103,874},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>76 54 59 77 33 77 24 31 62 12</string>
                <key>verticesUV</key>
                <string>155 916 138 939 112 939 103 893 141 874</string>
            </dict>
            <key>explode3/explode3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{93,581},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 3 0 2 0 1 2 3 5 0</string>
                <key>vertices</key>
                <string>89 25 89 91 27 91 8 64 13 19 48 5 67 5</string>
                <key>verticesUV</key>
                <string>174 601 174 667 112 667 93 640 98 595 133 581 152 581</string>
            </dict>
            <key>explode3/explode3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{2,1232},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 1 3 5 1 2 3 0 1 5</string>
                <key>vertices</key>
                <string>97 15 89 90 25 97 5 77 5 3 83 3</string>
                <key>verticesUV</key>
                <string>94 1244 86 1319 22 1326 2 1306 2 1232 80 1232</string>
            </dict>
            <key>explode3/explode3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{2,1135},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>93 96 25 95 5 75 5 3 98 3</string>
                <key>verticesUV</key>
                <string>90 1228 22 1227 2 1207 2 1135 95 1135</string>
            </dict>
            <key>explode3/explode3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{2,1034},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 6 7 5 6 1 1 2 3 1 3 4 5 1 4 0 1 7</string>
                <key>vertices</key>
                <string>97 43 79 55 96 72 95 94 22 98 1 87 4 3 97 2</string>
                <key>verticesUV</key>
                <string>98 1075 80 1087 97 1104 96 1126 23 1130 2 1119 5 1035 98 1034</string>
            </dict>
            <key>explode3/explode3-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1.5}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{2,935},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>98 6 98 95 15 95 0 86 3 19 20 0</string>
                <key>verticesUV</key>
                <string>100 941 100 1030 17 1030 2 1021 5 954 22 935</string>
            </dict>
            <key>explode4/explode4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{97,1167},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 1 2 5 0 1 5</string>
                <key>vertices</key>
                <string>127 66 127 120 87 139 47 120 47 66 87 47</string>
                <key>verticesUV</key>
                <string>177 1186 177 1240 137 1259 97 1240 97 1186 137 1167</string>
            </dict>
            <key>explode4/explode4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3.5}</string>
                <key>spriteSize</key>
                <string>{176,137}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{2,264},{176,137}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 17 18 14 15 16 12 13 14 11 12 14 8 14 16 0 8 16 9 10 11 8 9 11 8 11 14 5 6 7 5 7 8 2 4 5 2 3 4 2 5 8 0 1 2 0 2 8 0 16 17</string>
                <key>vertices</key>
                <string>114 33 160 33 145 68 176 61 176 70 155 97 176 113 176 123 105 137 0 123 0 104 18 107 0 63 0 57 30 53 24 38 57 36 89 0 95 0</string>
                <key>verticesUV</key>
                <string>116 297 162 297 147 332 178 325 178 334 157 361 178 377 178 387 107 401 2 387 2 368 20 371 2 327 2 321 32 317 26 302 59 300 91 264 97 264</string>
            </dict>
            <key>explode4/explode4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{176,138}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{2,128},{176,138}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 10 8 9 11 12 13 11 13 8 10 11 8 0 1 14 13 14 1 5 6 7 7 1 2 5 2 3 5 3 4 7 2 5 1 7 8 13 1 8 0 14 16</string>
                <key>vertices</key>
                <string>123 22 105 90 120 75 120 47 168 18 160 58 176 63 176 133 80 130 76 138 3 123 0 65 0 57 27 36 74 33 85 0 93 0</string>
                <key>verticesUV</key>
                <string>125 150 107 218 122 203 122 175 170 146 162 186 178 191 178 261 82 258 78 266 5 251 2 193 2 185 29 164 76 161 87 128 95 128</string>
            </dict>
            <key>explode4/explode4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{176,143}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{176,143}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 6 7 8 4 6 8 4 5 6 0 4 8 0 8 10 0 1 2 0 3 4 2 3 0 11 13 14 11 12 13 16 17 18 15 16 19 20 22 23 20 21 22 24 26 27 24 25 26</string>
                <key>vertices</key>
                <string>107 41 117 9 117 39 64 143 28 117 6 117 0 86 1 40 82 28 83 0 91 0 175 121 115 135 117 115 175 93 141 93 99 119 99 99 119 99 141 77 176 77 149 89 148 72 176 62 164 27 134 76 132 53 152 26</string>
                <key>verticesUV</key>
                <string>109 43 119 11 119 41 66 145 30 119 8 119 2 88 3 42 84 30 85 2 93 2 177 123 117 137 119 117 177 95 143 95 101 121 101 101 121 101 143 79 178 79 151 91 150 74 178 64 166 29 136 78 134 55 154 28</string>
            </dict>
            <key>explode4/explode4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9.5}</string>
                <key>spriteSize</key>
                <string>{176,125}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{2,404},{176,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 6 7 8 4 5 6 4 6 8 4 8 9 10 11 12 13 14 15 17 18 19 16 17 19 20 22 23 20 21 22 24 25 26 27 28 29 30 31 32 33 34 35 37 38 39 36 37 39 40 41 42 44 45 46 43 44 46</string>
                <key>vertices</key>
                <string>49 125 45 125 45 121 49 121 58 62 68 124 0 77 1 48 19 57 22 28 171 123 149 123 171 112 137 121 119 121 137 112 19 116 5 109 5 105 19 105 176 72 118 111 129 85 176 61 169 105 151 105 169 96 111 105 101 105 111 95 93 52 69 56 69 36 161 55 134 55 161 16 55 37 51 37 51 33 55 33 117 35 108 35 117 9 95 31 85 21 85 0 95 0</string>
                <key>verticesUV</key>
                <string>51 529 47 529 47 525 51 525 60 466 70 528 2 481 3 452 21 461 24 432 173 527 151 527 173 516 139 525 121 525 139 516 21 520 7 513 7 509 21 509 178 476 120 515 131 489 178 465 171 509 153 509 171 500 113 509 103 509 113 499 95 456 71 460 71 440 163 459 136 459 163 420 57 441 53 441 53 437 57 437 119 439 110 439 119 413 97 435 87 425 87 404 97 404</string>
            </dict>
            <key>ice/ice-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,74}</string>
                <key>spriteSourceSize</key>
                <string>{24,74}</string>
                <key>textureRect</key>
                <string>{{71,462},{24,74}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 0 5 7 0 1 4 3 4 1 3 1 2 0 4 5</string>
                <key>vertices</key>
                <string>24 30 24 47 13 74 8 73 0 46 0 19 9 1 14 0</string>
                <key>verticesUV</key>
                <string>95 492 95 509 84 536 79 535 71 508 71 481 80 463 85 462</string>
            </dict>
            <key>ice/ice-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-4}</string>
                <key>spriteSize</key>
                <string>{21,64}</string>
                <key>spriteSourceSize</key>
                <string>{24,74}</string>
                <key>textureRect</key>
                <string>{{159,918},{21,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>21 73 0 73 0 9 21 9</string>
                <key>verticesUV</key>
                <string>180 982 159 982 159 918 180 918</string>
            </dict>
            <key>ice/ice-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{24,74}</string>
                <key>textureRect</key>
                <string>{{151,1252},{22,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 2 3 0 0 3 4</string>
                <key>vertices</key>
                <string>23 29 23 73 1 73 1 26 13 9</string>
                <key>verticesUV</key>
                <string>173 1272 173 1316 151 1316 151 1269 163 1252</string>
            </dict>
            <key>laser/laser-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{2,123},{24,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 13 1 13 1 0 25 0</string>
                <key>verticesUV</key>
                <string>26 136 2 136 2 123 26 123</string>
            </dict>
            <key>laser/laser-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{23,859},{24,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 13 1 13 1 0 25 0</string>
                <key>verticesUV</key>
                <string>47 872 23 872 23 859 47 859</string>
            </dict>
            <key>laser/laser-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{35,595},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 13 3 13 3 0 23 0</string>
                <key>verticesUV</key>
                <string>55 608 35 608 35 595 55 595</string>
            </dict>
            <key>laser/laser-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{84,724},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 13 3 13 3 0 23 0</string>
                <key>verticesUV</key>
                <string>104 737 84 737 84 724 104 724</string>
            </dict>
            <key>laser/laser-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{46,885},{26,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>26 13 0 13 0 0 26 0</string>
                <key>verticesUV</key>
                <string>72 898 46 898 46 885 72 885</string>
            </dict>
            <key>laser/laser-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{2,148},{24,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 13 1 13 1 0 25 0</string>
                <key>verticesUV</key>
                <string>26 161 2 161 2 148 26 148</string>
            </dict>
            <key>shark/shark-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{53,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{27,2},{53,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>53 21 13 26 0 21 0 0 53 0</string>
                <key>verticesUV</key>
                <string>80 23 40 28 27 23 27 2 80 2</string>
            </dict>
            <key>shark/shark-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,1.5}</string>
                <key>spriteSize</key>
                <string>{51,25}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{2,266},{51,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>53 25 8 25 2 3 11 0 53 0</string>
                <key>verticesUV</key>
                <string>53 291 8 291 2 269 11 266 53 266</string>
            </dict>
            <key>tornado/tornado-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{44,1373},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>41 41 0 41 0 3 1 1 3 0 41 0</string>
                <key>verticesUV</key>
                <string>85 1414 44 1414 44 1376 45 1374 47 1373 85 1373</string>
            </dict>
            <key>tornado/tornado-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{89,1365},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>41 41 0 41 0 3 1 1 3 0 41 0</string>
                <key>verticesUV</key>
                <string>130 1406 89 1406 89 1368 90 1366 92 1365 130 1365</string>
            </dict>
            <key>tornado/tornado-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{44,1328},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>41 41 0 41 0 3 1 1 3 0 41 0</string>
                <key>verticesUV</key>
                <string>85 1369 44 1369 44 1331 45 1329 47 1328 85 1328</string>
            </dict>
            <key>tornado/tornado-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{89,1320},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>41 41 0 41 0 3 1 1 3 0 41 0</string>
                <key>verticesUV</key>
                <string>130 1361 89 1361 89 1323 90 1321 92 1320 130 1320</string>
            </dict>
            <key>tornado/tornado-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{134,1365},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>41 41 0 41 0 3 1 1 3 0 41 0</string>
                <key>verticesUV</key>
                <string>175 1406 134 1406 134 1368 135 1366 137 1365 175 1365</string>
            </dict>
            <key>tornado/tornado-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{134,1320},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>41 41 0 41 0 3 1 1 3 0 41 0</string>
                <key>verticesUV</key>
                <string>175 1361 134 1361 134 1323 135 1321 137 1320 175 1320</string>
            </dict>
            <key>waterblade/waterblade-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{104,671},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>67 9 67 67 6 67 0 9 26 1</string>
                <key>verticesUV</key>
                <string>171 679 171 737 110 737 104 679 130 671</string>
            </dict>
            <key>waterblade/waterblade-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{103,810},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>65 65 3 65 3 5 65 5</string>
                <key>verticesUV</key>
                <string>165 870 103 870 103 810 165 810</string>
            </dict>
            <key>waterblade/waterblade-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1.5}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{106,741},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>63 58 43 68 3 64 3 3 63 3</string>
                <key>verticesUV</key>
                <string>166 796 146 806 106 802 106 741 166 741</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{182,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:938567a695da0a5c757d7c4dd844194f:0951ca3a9d4ce69d28a147646a669ad0:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
