<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KnightStand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,425}</string>
                <key>spriteSourceSize</key>
                <string>{340,425}</string>
                <key>textureRect</key>
                <string>{{0,0},{340,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KnightStand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,425}</string>
                <key>spriteSourceSize</key>
                <string>{340,425}</string>
                <key>textureRect</key>
                <string>{{340,0},{340,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KnightStand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,425}</string>
                <key>spriteSourceSize</key>
                <string>{340,425}</string>
                <key>textureRect</key>
                <string>{{680,0},{340,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KnightStand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,425}</string>
                <key>spriteSourceSize</key>
                <string>{340,425}</string>
                <key>textureRect</key>
                <string>{{1020,0},{340,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KnightStand.png</string>
            <key>size</key>
            <string>{1360,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ade9d86d4e43221c15cc55be83fe5089:05530ee3a94e624dffa3d7def5d256d4:b4a5567ea988d8353d88058212fd5566$</string>
            <key>textureFileName</key>
            <string>KnightStand.png</string>
        </dict>
    </dict>
</plist>
