<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost/ghost-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{79,1},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>39 53 1 53 1 1 39 1</string>
                <key>verticesUV</key>
                <string>117 53 79 53 79 1 117 1</string>
            </dict>
            <key>ghost/ghost-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{39,1},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>39 53 1 53 1 1 39 1</string>
                <key>verticesUV</key>
                <string>77 53 39 53 39 1 77 1</string>
            </dict>
            <key>ghost/ghost-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 0 3 5 0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>37 45 26 56 16 51 1 34 7 3 13 0 37 0</string>
                <key>verticesUV</key>
                <string>37 46 26 57 16 52 1 35 7 4 13 1 37 1</string>
            </dict>
            <key>ghost/ghost-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{39,1},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>39 53 1 53 1 1 39 1</string>
                <key>verticesUV</key>
                <string>77 53 39 53 39 1 77 1</string>
            </dict>
            <key>ghost1/ghost1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{119,1},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>27 33 1 33 1 3 27 3</string>
                <key>verticesUV</key>
                <string>145 31 119 31 119 1 145 1</string>
            </dict>
            <key>ghost1/ghost1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{147,1},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 33 3 33 3 1 25 1</string>
                <key>verticesUV</key>
                <string>169 33 147 33 147 1 169 1</string>
            </dict>
            <key>ghost1/ghost1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{119,33},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 33 3 33 3 5 25 5</string>
                <key>verticesUV</key>
                <string>141 61 119 61 119 33 141 33</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>death.png</string>
            <key>size</key>
            <string>{170,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5efb8175cc6e5adacf527335127ac9e:475c7bafe689c3cad6ad445e324058e9:93e1a4172adad0416fcc4262b4b74fcf$</string>
            <key>textureFileName</key>
            <string>death.png</string>
        </dict>
    </dict>
</plist>
